Source: grml-git-tools
Section: devel
Priority: extra
Maintainer: Michael Prokop <mika@grml.org>
Build-Depends: debhelper (>= 7), 
Build-Depends-Indep: asciidoc, xsltproc, docbook-xsl
Standards-Version: 3.9.2
Homepage: http://git.grml.org/?p=grml-git-tools.git
Origin: Grml
Bugs: mailto:bugs@grml.org

Package: grml-git-tools
Architecture: all
Depends: ${shlibs:Depends}, ${misc:Depends}, ruby, git-core
Suggests: git-buildpackage, gitk, tig
Description: Useful addons for work with git
 This package provides several standalone scripts
 which might be useful when working with git.
